@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Outfit', sans-serif;
}

.input-auth {
    @apply w-full max-w-md px-5 py-3 rounded-full border border-gray-300 
      text-gray-800 placeholder-gray-400 bg-white 
      focus:border-[#129990] focus:ring-2 focus:ring-[#129990]/20 
      outline-none transition duration-200 ease-in-out;
}

.btn-auth {
    @apply w-full max-w-md py-3 rounded-full bg-[#129990] text-white font-bold 
      hover:bg-[#0e7c7a] transition duration-200 ease-in-out 
      text-center shadow-md hover:shadow-lg;
}